body {
  background-color: rgb(21, 21, 21);
  color: rgb(183, 183, 172);
}

.container {
  display: block;
  margin: 40px auto 10px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  max-width: 60%;
  border-radius: 20px;
}

form {
  display: flex;
  justify-content: center;
}

.search-bar {
  background-color: transparent;
  border: solid, 1px, rgb(183, 183, 172);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  color: rgb(183, 183, 172);
  outline: none;
}

.search-bar :focus {
  background-color: blue;
}

::placeholder {
  color: rgb(183, 183, 172);
}

.submit-button {
  background-color: transparent;
  border: solid, 1px, rgb(183, 183, 172);
  border-radius: 5px;
  color: rgb(183, 183, 172);
  margin-left: 5px;
  padding: 10px 20px 10px 20px;
}

.primary-details {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.city {
  font-size: 40px;
}

.temperature-block {
  position: relative;
  bottom: 10px;
}

.temperature {
  font-size: 80px;
}

.degrees {
  font-size: 20px;
  position: relative;
  bottom: 40px;
  right: 5px;
}

.icon {
  position: relative;
  top: 15px;
  left: 5px;
  width: 80px;
  height: 80px;
}

.secondary-details {
  font-size: 15px;
  position: relative;
  bottom: 50px;
}

.weather-conditions {
  position: relative;
  bottom: 20px;
}

.container2 {
  display: block;
  margin: 20px auto 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  max-width: 60%;
  border-radius: 20px;
}

.forecast {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.forecast-temperatures {
  display: flex;
  justify-content: space-around;
}

.forecast-icon {
  padding: 8px;
  width: 50px;
}

footer {
  text-align: center;
}
